<div class="card">
    <div class="card-body text-center">
        <img width="150" height="150" 
        class="rounded-circle img-thumbnail border-danger" 
        [src]="user?.picture?.large" alt="" srcset="">
    </div>
    <div class="card-title text-primary">
        <h2>
            <span class="px-2"> {{user?.name?.title }} .</span>
            <span class="px-2"> {{user?.name?.first }}</span>
            <span class="px-2"> {{user?.name?.last }}</span>
        </h2>

    </div>
    <div class="card-text">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        {{user?.email  }}
        
    </div>
    <div class="card-text">
        <fa-icon [icon]="faPhone"></fa-icon>
        {{user?.phone  }}  
    </div>
    <div class="card-text">
        <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
        {{ user?.location?.city  }} ,  {{user?.location?.state  }}
    </div>
    <div class="card-text">
        <fa-icon [icon]="faDatabase"></fa-icon>
        {{ user?.registered.date | date:'dd/mm/yy'  }} 
    </div>
    <div>
        <button class="btn btn-primary" (click)="reload()">Refresh</button>
    </div>

    
    


</div>
